<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="ui/css/homepage.css">
  <link rel="stylesheet" href="ui/css/login.css">
  <link rel="stylesheet" href="ui/css/signUp.css">
  <link rel="stylesheet" href="ui/css/loader.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav>
    <div class="logo">
      01 Forum
    </div>
    <ul class="nav-buttons">
      <li><button class="home-nav active">Home</button></li>
      <li><button class="login-nav">Login</button></li>
      <li><button class="sign-up-nav">Sign Up</button></li>

    </ul>
  </nav>
  <div class="sign-up-container">
    <form class="sign-up-form" method="POST">

      <button class="signup-close-button" type="button">
        <span>&times;</span>
      </button>

      <h2>Sign Up</h2>
      <p class="fillIn">Please fill in this form to create an account.</p>

      <label for="first-name">First Name: </label>
      <div class="text">
        <input type="text" class="sign-up-input" name="first-name" id="first-name" placeholder="Enter First Name" required>
      </div>

      <label for="last-name">Last Name: </label>
      <div class="text">
        <input type="text" class="sign-up-input" name="last-name" id="last-name" placeholder="Enter Last Name " required>
      </div>

      <label for="date-of-birth">Date of Birth: </label>
      <div class="text">
        <input type="date" class="sign-up-input" name="date-of-birth" id="date-of-birth" required>
      </div>

      <fieldset>
        <legend>Please Select Gender</legend>
        <div class="text">
          <input type="radio" class="sign-up-input" name="gender" id="gender-male" value="Male">
          <label for="gender-male">Male</label>
          <input type="radio" class="sign-up-input" name="gender" id="gender-female" value="Female">
          <label for="gender-female">Female</label>
          <input type="radio"class="sign-up-input" name="gender" id="gender-prefer-not-to-say" value="Prefer Not To Say">
          <label for="gender-prefer-not-to-say">Prefer Not To Say</label>
        </div>
      </fieldset>

      <label for="username-register">Username: </label>
      <div class="text">
        <img src="ui/img/user.png" height="20px" />
        <input type="text" class="sign-up-input" placeholder="Choose your username" name="username" id="username-register" required>
      </div>

      <label for="email-register">E-mail: </label>
      <div class="text">
        <img src="ui/img/email.png" height="12px" />
        <input type="email" class="sign-up-input" placeholder="Enter Email" name="email" id="email-register" required>
      </div>

      <label for="password-register">Password: </label>
      <div class="text">
        <img src="ui/img/password.png" height="20px" />
        <input type="password" class="sign-up-input" placeholder="Enter Password" name="password" id="password-register" pattern=".{6,}"
          required>
      </div>
      <p class="pswR">
        Your Password at least have 6 characters.</p>

      <p class="policy"> By continuing, you are setting up a 01:Forum account and agree to our user agreement and
        privacy policy. </p>
      <input type="submit" value="Sign Up" class="sign-up-button sign-up-input"></input>
    </form>
  </div>

  <div class="login-container">
    <form class="login-form" method="POST">

      <button class="login-close-button" type="button">
        <span>&times;</span>
      </button>

      <h2>Log In</h2>
      <label for="first-name">First Name: </label>
      <div class="text">
        <input type="text" class="login-input" name="first-name" id="first-name-login" placeholder="Enter First Name" required>
      </div>

      <label for="last-name">Last Name: </label>
      <div class="text">
        <input type="text" class="login-input" name="last-name" id="last-name-login" placeholder="Enter Last Name " required>
      </div>
      <!-- <label for="usernameL"><b>Username</b></label>
        <div class="text">
          <img src="ui/img/user.png" height="20px" />
          <input type="text" placeholder="Enter Username" name="username" id="usernameL" required>
        </div>
        <label for="pswL"><b>Password</b></label>
        <div class="text">
          <img src="ui/img/password.png" height="20px" />
          <input type="password" placeholder="Enter Password" name="pswL" id="pswL" required>
        </div> -->
      <input type="submit" value="Log In" class="login-button"></input>
    </form>
  </div>

</body>
<script src="ui/js/homepage.js"></script>
<script src="ui/js/data.js"></script>

</html>