/* Create Post Button */
.create-post-button {
    padding: 10px 30px;
    width: 75px;
    height: 75px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
    box-shadow: 2px 6px 16px rgba(238, 169, 57, 0.3);
    border-radius: 100px;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* make sure to add condition for when window size is too small */
    position: fixed;
    bottom: -4px;
    right: 90px;
    z-index: 999;
}

.create-post-button:hover {
    cursor: pointer;
    background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
    box-shadow: 0 5px 15px rgba(52, 184, 26, 0.8);
    transform: scale(1.1);
}

.create-post-button:active {
    background: linear-gradient(-30deg, rgb(1, 170, 38), rgb(30, 252, 78)55%);
    transform: scale(1.1);
}

.create-post-button>img {
    width: 60px;
    height: 50px;
}

.create-post-button:active>img {
    filter: brightness(0) invert(1);
}

/* Create Post Container */
.create-post-container {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

/* Create Post Pop Up */
.create-post-form {
    display: flex;
    width: 60%;
    height: 80%;
    margin: auto;
    margin-bottom: 10%;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 4px 15px 50px rgb(6, 187, 45);
    border-radius: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    overflow: auto;
}

/* The Create Post Close Button */
.create-post-close-button {
    width: 8.5%;
    border-radius: 100px;
    background-color: rgb(250, 124, 124);
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-color: transparent;
}


.create-post-close-button:hover,
.create-post-close-button:focus {
    width: 8.5%;
    border-radius: 100px;
    background-color: darkred;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border-color: transparent;
}

/* Image Upload */


.post-image-preview {
    display: none;
    width: 50%;
    height: 50%;
    object-fit: contain;
    border: 0;
}

::file-selector-button {
    display: none;
}

.upload-post-image {
    background-color: #ffffff;
    color: #111111;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 35px;
    border-color: transparent;
    outline: none;
    width: 70%;
    margin: 10px;
}

.upload-post-image:hover {
    background-color: rgb(6, 187, 45);
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border-color: transparent;
    outline: none;
}

.upload-post-image:active {
    background-color: rgb(4, 138, 33);
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    border-color: transparent;
    outline: none;

}

/* Text Box */
.post-text {
    background-color: #ffffff;
    color: #111111;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    padding: 10px;
    border-color: transparent;
    outline: none;
    width: 70%;
    height: 60px;
    margin: 10px;
}

/* Thread */
.post-thread-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 60px;
    margin: 10px;
}

.post-thread {
    background-color: #ffffff;
    color: #111111;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    padding: 10px;
    border-color: transparent;
    outline: none;
    width: 50%;
    height: 45px;
    margin: 10px;
}

.add-thread {
    background-color: #ffffff;
    color: #111111;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    padding: 10px;
    border-color: transparent;
    outline: none;
    width: 50%;
    height: 45px;
    margin: 10px;
}

.add-thread:hover {
    background-color: rgb(6, 187, 45);
    color: white;
    display: inline-block;
    padding: 10px;
    border-color: transparent;
    outline: none;

}

.add-thread:active {
    background-color: rgb(4, 138, 33);
    color: white;
    padding: 10px;
    border-color: transparent;
    outline: none;

}

.list-of-thread {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: 10px;
}

.list-of-thread>p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #111111;
}

/*add post submit button*/
.add-post-button {
    padding: 10px 30px;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
    box-shadow: 2px 6px 16px rgba(238, 169, 57, 0.3);
    border-radius: 30px;
    border: none;
    margin: 10px;
    color: white;
}

.add-post-button:hover {
    cursor: pointer;
    background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
    box-shadow: 0 5px 15px rgba(52, 184, 26, 0.8);
    transform: scale(1.1);

}

.add-post-button:focus {
    background: linear-gradient(-30deg, rgb(1, 170, 38), rgb(30, 252, 78)55%);
    transform: scale(1.1);
}

.post-error-message {
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(30, 252, 78);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 209, 47);
}

.post-list {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 160px;
    justify-content: center;
    height: 100%;
    overflow: auto;
}

.post {
    grid-column: 2;
    height: auto;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

/* .post-time{
    float: right;
} */

.post-image-display {
    height: 300px;
    object-fit: contain;
}

.post-text-content {
    text-align: center;
}

.post-thread-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: 10px;
}

.post-thread-list>p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
    font-weight: 700;
    color: #111111;
}