/* Sign Up Pop Up */
.sign-up-container {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Sign Up Close Button */
.signup-close-button {
  width: 8.5%;
  border-radius: 100px;
  background-color: rgb(250, 124, 124);
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-color: transparent;
}


.signup-close-button:hover,
.signup-close-button:focus {
  width: 8.5%;
  border-radius: 100px;
  background-color: darkred;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  border-color: transparent;
}

.sign-up-form {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 10%;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 4px 15px 50px rgb(6, 187, 45);
  border-radius: 50px;

}

label {
  font-weight: bold;
}

fieldset {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

legend {
  text-align: center;
  font-weight: bold;
}


.text {
  width: 80%;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.policy {
  text-align: center;
  margin-top: 10px;
}

/*sign in submit button*/
.sign-up-button {
  padding: 10px 30px;
  width: 40%;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
  box-shadow: 2px 6px 16px rgba(238, 169, 57, 0.3);
  border-radius: 30px;
  border: none;
  margin: 10px;
  color: white;
}

.sign-up-button:hover {
  cursor: pointer;
  background: linear-gradient(-30deg, rgb(0, 114, 25), rgb(3, 243, 55)55%);
  box-shadow: 0 5px 15px rgba(52, 184, 26, 0.8);
  transform: scale(1.1);

}

.sign-up-button:focus {
  background: linear-gradient(-30deg, rgb(1, 170, 38), rgb(30, 252, 78)55%);
  transform: scale(1.1);

}

.sign-up-error-message{
  color: red;
  text-align: center;
  margin-top: 10px;
}